body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-image: url('../images/tlo.gif');
    background-size: cover;
}

#calosc {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    transform: rotate(0deg);
};